<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:epi="http://rsdata.com.br/ws/epiEstoqueService">
<soapenv:Header>
<wsse:Security soapenv:mustUnderstand="1" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
   <wsse:UsernameToken wsu:Id="UsernameToken-1">
	  <wsse:Username>{{ .Usuario }}</wsse:Username>
	  <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">{{ .Senha }}</wsse:Password>
   </wsse:UsernameToken>
</wsse:Security>
</soapenv:Header>
   <soapenv:Body>
      <epi:getEstoqueRequest>
         <epi:rsdata versao="1">
            <epi:config>
               <epi:tpVerEstoque>CODIGO</epi:tpVerEstoque>
            </epi:config>
            <epi:estoques>
               <epi:estoques>
                  <epi:localEstoque>
                     <epi:idLocalEstoque/>
                     <epi:nomeLocalEstoque/>
                     <epi:codIntegracaoLocalEstoque>{{ .LocalEstoque }}</epi:codIntegracaoLocalEstoque>
                  </epi:localEstoque>
                  <epi:epi>
                     <epi:epiID/>
                     <epi:codIntegracaoEpi>{{ .CodInterno }}</epi:codIntegracaoEpi>
                     <epi:nomeEpi/>
                     <epi:gradeTamanhos>
                        <epi:gradeTamanho>
                           <epi:codIntegracaoEpiGradeTamanho>9999</epi:codIntegracaoEpiGradeTamanho>
                           <epi:tamanho/>
                        </epi:gradeTamanho>
                     </epi:gradeTamanhos>
                  </epi:epi>
               </epi:estoques>
            </epi:estoques>
         </epi:rsdata>
      </epi:getEstoqueRequest>
   </soapenv:Body>
</soapenv:Envelope>